autogen-agentchat~=0.2
ag2==0.9.7
autogen
pyautogen~=0.2.0
requests
streamlit-file-browser
openai==1.66.2
toml
pandas
tabulate
python-dotenv
httpx
asyncio~=3.4.3
pytest
fastapi
uvicorn
gunicorn
jupyter